NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_RAYCAST_INSTALL_URL=https://www.raycast.com/
NEXT_PUBLIC_SUPPORT_EMAIL=founder@revcast.app
DODO_PAYMENTS_API_KEY=
DODO_PAYMENTS_ENVIRONMENT=test_mode
DODO_PRODUCT_ID_PRO=
DODO_PRODUCT_ID_TEAM=
